@model GsEPWv8_5_MVC.Model.InboundInquiryModel
@{

}
<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>
    </div>
    @Html.TextBoxFor(model => model.cntr_id, new { @class = "form-control", placeholder = "Container ID", @maxlength = "50" })
    <label>Test</label>
    <hr />
   
</div>  

